/* .........................................................................................................
	Media Styles (Tablets)
......................................................................................................... */



/* .....................................
	tablet global
..................................... */

.tablet {
	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;	
	}	
		
	/* .....................................
		overlay example 01
	..................................... */
	&.example01 {
		width: 100%;
		height: 100%;
		background: #fff;
		border: none;
	}

	/* .....................................
		overlay example 02
	..................................... */		
	&.example02 {
		width: 100%;
		height: 100%;
		background: #fff;
		border: none;
		top: 0;
		left: 0;
	}		

}

/* .....................................
	portrait tablet
..................................... */

.tablet.portrait {
	
	.grid {

		.row {
			.tablet-flatten {
				float: none;
				width: 100%;
			}
		}
	}
}

/* .....................................
	landscape tablet
..................................... */

.tablet.landscape {

}