<a href="{{ product.url }}" class="col ratio-1-1 relative">
  <img src="{{ product.featured_image | product_img_url: 'master' }}" style="background-image: url('{{ product.featured_image | product_img_url: 'master' }}');">
</a>
