<a href="{{ product.url }}" class="col ratio-1-1 relative">
  <div class="centered">
    <div class="centered-item title-3">
      <h5>{{ product.title }}</h5>
      <p><span class="underline-hover">{{ product.vendor }}</span></p>
    </div>
  </div>
</a>
