<nav class="nav-sub">
  <ul class="group">
    {% for link in linklists.about.links %}
       <li><a class="{% if page.title == link.title %}is-active{% endif %}" href="{{ link.url }}" data-switch-trigger="{{ link.title | handleize }}">{{ link.title}}</a></li>
    {% endfor %}
  </ul>
</nav>
