<section class="banner-top banner ratio-10-3" style="background-image: url('{{ 'designers-banner-top.jpg' | asset_url }}');"></section>

<ul class="square-blocks col-4">
  <li class="row">
    {% unless settings.designer_01_name == blank %}
      {% assign name = settings.designer_01_name %}
      {% assign location = settings.designer_01_location %}
      {% assign designer_link = settings.designer_01_link %}
      {% assign trunk_show_on = settings.designer_01_trunk_show_on %}
      {% assign trunk_show = settings.designer_01_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_02_name == blank %}
      {% assign name = settings.designer_02_name %}
      {% assign location = settings.designer_02_location %}
      {% assign designer_link = settings.designer_02_link %}
      {% assign trunk_show_on = settings.designer_02_trunk_show_on %}
      {% assign trunk_show = settings.designer_02_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_03_name == blank %}
      {% assign name = settings.designer_03_name %}
      {% assign location = settings.designer_03_location %}
      {% assign designer_link = settings.designer_03_link %}
      {% assign trunk_show_on = settings.designer_03_trunk_show_on %}
      {% assign trunk_show = settings.designer_03_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_04_name == blank %}
      {% assign name = settings.designer_04_name %}
      {% assign location = settings.designer_04_location %}
      {% assign designer_link = settings.designer_04_link %}
      {% assign trunk_show_on = settings.designer_04_trunk_show_on %}
      {% assign trunk_show = settings.designer_04_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
  </li>

  {% unless settings.designer_05_name == blank %}
  <li class="row">
    {% unless settings.designer_05_name == blank %}
      {% assign name = settings.designer_05_name %}
      {% assign location = settings.designer_05_location %}
      {% assign designer_link = settings.designer_05_link %}
      {% assign trunk_show_on = settings.designer_05_trunk_show_on %}
      {% assign trunk_show = settings.designer_05_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_06_name == blank %}
      {% assign name = settings.designer_06_name %}
      {% assign location = settings.designer_06_location %}
      {% assign designer_link = settings.designer_06_link %}
      {% assign trunk_show_on = settings.designer_06_trunk_show_on %}
      {% assign trunk_show = settings.designer_06_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_07_name == blank %}
      {% assign name = settings.designer_07_name %}
      {% assign location = settings.designer_07_location %}
      {% assign designer_link = settings.designer_07_link %}
      {% assign trunk_show_on = settings.designer_07_trunk_show_on %}
      {% assign trunk_show = settings.designer_07_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_08_name == blank %}
      {% assign name = settings.designer_08_name %}
      {% assign location = settings.designer_08_location %}
      {% assign designer_link = settings.designer_08_link %}
      {% assign trunk_show_on = settings.designer_08_trunk_show_on %}
      {% assign trunk_show = settings.designer_08_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
  </li>
  {% endunless %}

  {% unless settings.designer_09_name == blank %}
  <li class="row">
    {% unless settings.designer_09_name == blank %}
      {% assign name = settings.designer_09_name %}
      {% assign location = settings.designer_09_location %}
      {% assign designer_link = settings.designer_09_link %}
      {% assign trunk_show_on = settings.designer_09_trunk_show_on %}
      {% assign trunk_show = settings.designer_09_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_10_name == blank %}
      {% assign name = settings.designer_10_name %}
      {% assign location = settings.designer_10_location %}
      {% assign designer_link = settings.designer_10_link %}
      {% assign trunk_show_on = settings.designer_10_trunk_show_on %}
      {% assign trunk_show = settings.designer_10_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_11_name == blank %}
      {% assign name = settings.designer_11_name %}
      {% assign location = settings.designer_11_location %}
      {% assign designer_link = settings.designer_11_link %}
      {% assign trunk_show_on = settings.designer_11_trunk_show_on %}
      {% assign trunk_show = settings.designer_11_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_12_name == blank %}
      {% assign name = settings.designer_12_name %}
      {% assign location = settings.designer_12_location %}
      {% assign designer_link = settings.designer_12_link %}
      {% assign trunk_show_on = settings.designer_12_trunk_show_on %}
      {% assign trunk_show = settings.designer_12_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
  </li>
  {% endunless %}

  {% unless settings.designer_13_name == blank %}
  <li class="row">
    {% unless settings.designer_13_name == blank %}
      {% assign name = settings.designer_13_name %}
      {% assign location = settings.designer_13_location %}
      {% assign designer_link = settings.designer_13_link %}
      {% assign trunk_show_on = settings.designer_13_trunk_show_on %}
      {% assign trunk_show = settings.designer_13_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_14_name == blank %}
      {% assign name = settings.designer_14_name %}
      {% assign location = settings.designer_14_location %}
      {% assign designer_link = settings.designer_14_link %}
      {% assign trunk_show_on = settings.designer_14_trunk_show_on %}
      {% assign trunk_show = settings.designer_14_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_15_name == blank %}
      {% assign name = settings.designer_15_name %}
      {% assign location = settings.designer_15_location %}
      {% assign designer_link = settings.designer_15_link %}
      {% assign trunk_show_on = settings.designer_15_trunk_show_on %}
      {% assign trunk_show = settings.designer_15_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_16_name == blank %}
      {% assign name = settings.designer_16_name %}
      {% assign location = settings.designer_16_location %}
      {% assign designer_link = settings.designer_16_link %}
      {% assign trunk_show_on = settings.designer_16_trunk_show_on %}
      {% assign trunk_show = settings.designer_16_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
  </li>
  {% endunless %}

  {% unless settings.designer_17_name == blank %}
  <li class="row">
    {% unless settings.designer_17_name == blank %}
      {% assign name = settings.designer_17_name %}
      {% assign location = settings.designer_17_location %}
      {% assign designer_link = settings.designer_17_link %}
      {% assign trunk_show_on = settings.designer_17_trunk_show_on %}
      {% assign trunk_show = settings.designer_17_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_18_name == blank %}
      {% assign name = settings.designer_18_name %}
      {% assign location = settings.designer_18_location %}
      {% assign designer_link = settings.designer_18_link %}
      {% assign trunk_show_on = settings.designer_18_trunk_show_on %}
      {% assign trunk_show = settings.designer_18_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_19_name == blank %}
      {% assign name = settings.designer_19_name %}
      {% assign location = settings.designer_19_location %}
      {% assign designer_link = settings.designer_19_link %}
      {% assign trunk_show_on = settings.designer_19_trunk_show_on %}
      {% assign trunk_show = settings.designer_19_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_20_name == blank %}
      {% assign name = settings.designer_20_name %}
      {% assign location = settings.designer_20_location %}
      {% assign designer_link = settings.designer_20_link %}
      {% assign trunk_show_on = settings.designer_20_trunk_show_on %}
      {% assign trunk_show = settings.designer_20_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
  </li>
  {% endunless %}

  {% unless settings.designer_21_name == blank %}
  <li class="row">
    {% unless settings.designer_21_name == blank %}
      {% assign name = settings.designer_21_name %}
      {% assign location = settings.designer_21_location %}
      {% assign designer_link = settings.designer_21_link %}
      {% assign trunk_show_on = settings.designer_21_trunk_show_on %}
      {% assign trunk_show = settings.designer_21_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_22_name == blank %}
      {% assign name = settings.designer_22_name %}
      {% assign location = settings.designer_22_location %}
      {% assign designer_link = settings.designer_22_link %}
      {% assign trunk_show_on = settings.designer_22_trunk_show_on %}
      {% assign trunk_show = settings.designer_22_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_23_name == blank %}
      {% assign name = settings.designer_23_name %}
      {% assign location = settings.designer_23_location %}
      {% assign designer_link = settings.designer_23_link %}
      {% assign trunk_show_on = settings.designer_23_trunk_show_on %}
      {% assign trunk_show = settings.designer_23_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
    {% unless settings.designer_24_name == blank %}
      {% assign name = settings.designer_24_name %}
      {% assign location = settings.designer_24_location %}
      {% assign designer_link = settings.designer_24_link %}
      {% assign trunk_show_on = settings.designer_24_trunk_show_on %}
      {% assign trunk_show = settings.designer_24_trunk_show %}
      {% include 'designer' %}
    {% endunless %}
  </li>
  {% endunless %}
</ul>

<section class="row">
  <a href="#" data-modal-trigger="appointments-zoom" class="link-block padding-vert-xlarge centered border-bottom">
    <div class="centered-item title-3">
      Visit us:<br> Make an appointment for<br> our West Village Showroom<br>
      <span class="margin-top-small underline-hover">Reserve Now</span>
    </div>
  </a>
</section>
