<section class="large-padding-top-xxlarge">

  <!-- COLLECTION -->
  {% if search.results_count > 0 %}
    {% paginate search.results by 20 %}

      <section data-component="catalog" class="medium-up-padding-top-medium">

        <h4 class="margin-top-medium margin-bottom-medium text--black head-3 text-center text--black head-3 text-center">Search results for <span class="small-only-block">"{{ search.terms }}"</span></h4>


        <ul class="row small-padding-horz-medium medium-padding-medium">
          {% for product in search.results %}
            {% if forloop.index == 3 or forloop.index == 4 or forloop.index == 13 or forloop.index == 14 %}
              <li>{% include 'collection-item-half' %}</li>
            {% else %}
              <li>{% include 'collection-item-quarter' %}</li>
            {% endif %}
          {% endfor %}
        </ul>

        {% if paginate.next %}
          <div class="row text-center padding-top-medium padding-bottom-large">
            <a href="{{ paginate.next.url }}" data-prop="more" class="head-3 text--green text--green loader--cover-hide loader-green loader--medium is-block text--underline">View More</a>
          </div>
        {% endif %}

      </section>

    {% endpaginate %}

  <!-- NO COLLECTION PRODUCTS -->
  {% else %}
    <section data-component="catalog" class="padding-horz-large">
      <h2 class="head-3 margin-top-large padding-vert-xxlarge text-center text--black">Sorry, no results could be found for "{{ search.terms }}". Care to try another <a href="#" class="text--black text--decoration" data-state="catalog.search">Search</a>?</h2>
    </section>
  {% endif %}

</section>
