{% form 'reset_customer_password' %}
  <section class="form text-center padding-large" data-component="password">

    <h2 class="head-3 text--black padding-top-xxlarge">Update Your Password</a></h2>

    {% if form.errors %}
      <div data-prop="errors" class="margin-vert-large border border-all border-red text--red text-4">
        {{ form.errors | default_errors }}
      </div>
    {% endif %}

    <fieldset class="small-centered small-1-1 medium-1-3 large-1-4 margin-top-large margin-bottom-medium">
      <input type="password" name="customer[password]"  placeholder="Enter New Password" class="fill-width text-center">
    </fieldset>

    <fieldset class="small-centered small-1-1 medium-1-3 large-1-4">
      <input type="password" name="customer[password_confirmation]"  placeholder="Confirm Password" class="fill-width text-center">
    </fieldset>

    <fieldset class="small-centered padding-large small-1-1 medium-1-6 large-1-8 margin-vert-large">
      <input type="submit" value="Update Password" class="btn-black btn--medium fill-width">
      <a href="/account" class="block margin-top-medium text--gray text-4 has-decoration">Cancel</a>
    </fieldset>

  </section>
{% endform %}
