/* .........................................................

		Doc.Utitlies

	@	Utility styles
	@	the Arishill Co. (arishill.com)
	@	author Scott Robertson
	@	Updated April 2013

......................................................... */


/* .....................................
	postioning
..................................... */
.group:after,
.group-li:after,
.group-p:after,
.group-div:after,
.group-section:after,
.group-span:after,
.group-ul:after,
.group-items:after,
.li-group li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.group-li li,
.group-p p,
.group-div div,
.group-ul ul,
.group-span span,
.group-items .item,
.group-section section {
	float: left;
}
.col {
	float: left;
}
.col-push {
	float: right;
}

.stage {
	text-align: center;
}
.page-contain {
	position: relative;
}
.underline {
	text-decoration: none !important;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2px;
	display: inline-block !important;
}
.center {
	text-align: center;
}
/* .....................................
	grid
..................................... */
.row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.col-1-2 { @include grid($base-width-halves*1); }
.col-2-2 { @include grid($base-width-halves*2); }
.col-1-3 { @include grid($base-width-thirds*1); }
.col-2-3 { @include grid($base-width-thirds*2); }
.col-3-3 { @include grid($base-width-thirds*3); }
.col-1-4 { @include grid($base-width-fourths*1); }
.col-2-4 { @include grid($base-width-fourths*2); }
.col-3-4 { @include grid($base-width-fourths*3); }
.col-4-4 { @include grid($base-width-fourths*4); }
.col-1-5 { @include grid($base-width-fifths*1); }
.col-2-5 { @include grid($base-width-fifths*2); }
.col-3-5 { @include grid($base-width-fifths*3); }
.col-4-5 { @include grid($base-width-fifths*4); }
.col-5-5 { @include grid($base-width-fifths*5); }
.col-1-6 { @include grid($base-width-sixths*1); }
.col-2-6 { @include grid($base-width-sixths*2); }
.col-3-6 { @include grid($base-width-sixths*3); }
.col-4-6 { @include grid($base-width-sixths*4); }
.col-5-6 { @include grid($base-width-sixths*5); }
.col-6-6 { @include grid($base-width-sixths*6); }
.col-1-7 { @include grid($base-width-sevenths*1); }
.col-2-7 { @include grid($base-width-sevenths*2); }
.col-3-7 { @include grid($base-width-sevenths*3); }
.col-4-7 { @include grid($base-width-sevenths*4); }
.col-5-7 { @include grid($base-width-sevenths*5); }
.col-6-7 { @include grid($base-width-sevenths*6); }
.col-7-7 { @include grid($base-width-sevenths*7); }
.col-1-8 { @include grid($base-width-eigths*1); }
.col-2-8 { @include grid($base-width-eigths*2); }
.col-3-8 { @include grid($base-width-eigths*3); }
.col-4-8 { @include grid($base-width-eigths*4); }
.col-5-8 { @include grid($base-width-eigths*5); }
.col-6-8 { @include grid($base-width-eigths*6); }
.col-7-8 { @include grid($base-width-eigths*7); }
.col-8-8 { @include grid($base-width-eigths*8); }
.col-1-12 { @include grid($base-width-twelfths*1); }
.col-2-12 { @include grid($base-width-twelfths*2); }
.col-3-12 { @include grid($base-width-twelfths*3); }
.col-4-12 { @include grid($base-width-twelfths*4); }
.col-5-12 { @include grid($base-width-twelfths*5); }
.col-6-12 { @include grid($base-width-twelfths*6); }
.col-7-12 { @include grid($base-width-twelfths*7); }
.col-8-12 { @include grid($base-width-twelfths*8); }
.col-9-12 { @include grid($base-width-twelfths*9); }
.col-10-12 { @include grid($base-width-twelfths*10); }
.col-11-12 { @include grid($base-width-twelfths*11); }
.col-12-12 { @include grid($base-width-twelfths*12); }

/* .....................................
	preload
..................................... */
.preload {
	position: absolute;
	top: -99999px;

	#preload-0 {
		background: url(#{$cdn}ui-btn-loader.gif) no-repeat 0 0px;
	}
	#preload-1 {
		background: url(#{$cdn}ui.loader.sm.gif) no-repeat 0px 0px;
	}
	#preload-2 {
		background: url(#{$cdn}ui-loader.gif) no-repeat 0 0px;
	}
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.block-centered {
  display: inline-block;
  vertical-align: middle;
}
.page {
	width: 900px;
	margin: 65px auto 0 auto;
}

.margin-top-small {
	margin-top: 15px;
}
.margin-top-medium {
	margin-top: 25px;
}
.margin-top-large {
	margin-top: 35px;
}
.margin-top-xlarge {
	margin-top: 45px;
}
.margin-vert-small {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-vert-medium {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin-vert-large {
  margin-top: 35px;
  margin-bottom: 35px;
}
.margin-vert-xlarge {
  margin-top: 45px;
  margin-bottom: 45px;
}
.margin-bottom-small {
	margin-bottom: 15px;
}
.margin-bottom-medium {
	margin-bottom: 25px;
}
.margin-bottom-large {
	margin-bottom: 35px;
}
.margin-bottom-xlarge {
	margin-bottom: 45px;
}

.padding-top-small {
  padding-top: 15px;
}
.padding-top-medium {
  padding-top: 25px;
}
.padding-top-large {
  padding-top: 35px;
}
.padding-top-xlarge {
  padding-top: 45px;
}
.padding-bottom-small {
  padding-bottom: 15px;
}
.padding-bottom-medium {
  padding-bottom: 25px;
}
.padding-bottom-large {
  padding-bottom: 35px;
}
.padding-bottom-xlarge {
  padding-bottom: 45px;
}
.padding-vert-large {
  padding-top: 35px;
  padding-bottom: 35px;
}
.padding-vert-xlarge {
  padding-top: 45px;
  padding-bottom: 45px;
}
.is-block {
	display: block;
}

.flex-wrap {
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.flex-dir {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}
.flex-center {
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -moz-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.fadein {
	opacity: 0;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	-o-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}
.is-loaded {
	.fadein {
		opacity: 1;
	}
}
